#container{
    width: 90%;
    margin: auto;
}

.btns a {
    border-radius: 3%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    margin-bottom: 30px;
    width: 50%;
}

.btn_product{
    background: rgb(200,100,0);
}

.btn_notification{
    background: rgb(0,100,200);
}

.btn_user_index{
    background: rgb(0,139,0);
}