#container{
    padding-top: 50px;
    width: 50%;
    margin: auto;
    position: relative;
}

.input_label{
    font-size: 0.9rem;
    font-weight: bold;
}

.text_input_w100{
    width: 100%;
    border: solid 1px lightgray;
    margin-bottom: 30px;
    height: 5.6%;
}

.product_div{
    width: 50%;
}

.label{
    font-size: 0.9rem;
    font-weight:bold;
}

p{
    margin: 0;
}

.submit_btn{
    margin-top:30px;
    width: 100%;
    border:none;
    background-color:red;
    color:white;
    font-weight: bold;
    height:5.6%;
    font-size: 0.85rem;
    text-decoration: underline;
}

.submit_btn:hover{
    cursor:hand;
}

.back_btn a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    background: rgb(0,100,255);
    height:5.6%;
    width: 100%;
    font-weight: bold;
    font-size: 0.85rem;
}

.product_table th{
    text-align: left;
    padding-right: 40px;
}